@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: "SF Sans", system-ui, "Segoe UI", "Roboto", "Ubuntu", sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #fff;
    }
}
